$primary-color: #007bff;
$secondary-color: #6c757d;

body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 10px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.clock {
    font-size: 24px;
}

.list-group-item.completed {
    text-decoration: line-through;
    color: $secondary-color;
}

.completed-time {
    font-size: 0.8em;
    color: $secondary-color;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group .form-control,
.input-group .btn {
    width: 100%;
    margin-top: 10px;
}

.input-group .input-group-append {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.task-buttons {
    display: flex;
    gap: 10px;
}

.planner {
    margin-top: 20px;
}
